body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #f2f2f2;
}

.login-container, .admin-container {
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.content {
    width: 70%;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
